{% extends "base_generic.html" %}

{% block content %}
<h1>AllSales</h1>

  <p>Добро пожаловать на <em>AllSales</em>, сайт на котором мы стримсимся собирать информацию о всех скидках и акциях.</p>

<h2>Что у нас есть?</h2>

  <p>Вот что нам удалось собрать</p>
  <ul>
    <li><strong>Скидки</strong> {{ num_discount }}</li>
    <li><strong>Компании</strong> {{ num_сompany }}</li>
    <li><strong>Категории</strong> {{ num_сategory }}</li>
  </ul>

  <p>Вы к нам уже обратились  {{ num_visits }}{% if num_visits == 1 %} раз{% else %} раз{% endif %}.</p>

{% endblock %}
