{% extends "base_generic.html" %}

{% block content %}
  <h1>Хотите сообщить о акции или скидке?</h1>
  <h2>Добавте новую акцию</h2>
  <form method="post">
    {% csrf_token %}<br>
    {{ form.title }}<br>
    {{ form.description }}<br>
    {{ form.company }}<br>
    {{ form.categories }}<br>
    {{ form.sales }}<br>
    {{ form.sale_date_start }}<br>
    {{ form.sale_date_end }}<br>
    {{ form.status }}<br>
    {{ form.tags }}<br>
    <button type="submit" >Добавить акцию</button>
  </form>
{% endblock %}