{% extends "base_generic.html" %}

{% block content %}

    <h1>Скидки и Акции</h1>

    {% if discount_list %}
    <ul>
        {% for discount in discount_list %}
        <li>
            <a href="{{ discount.get_absolute_url }}">{{ discount.title }}</a>
            <div>{{ discount.description }}</div>
            <div>{{ discount.company }}</div>
            <div>{{ discount.categories }}</div>
            <div>{{ discount.sales }}<</div>
            <div>{{ discount.sale_date_start }}</div>
            <div>{{ discount.sale_date_end }}</div>
            <div>{{ discount.status }}</div>
            <div>{{ discount.tags }}</div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
      <p>Скидок и акций нету</p>
    {% endif %}
{% endblock %}
